body {
    margin: 0;
    text-align: center;    
}

h1 {
    margin: 0;
}

.top-container {
  background-color: #e4f9f5;
  padding-top: 50px;
}

.middle-container {
  background-color: red;
  height: 200px;
  width: 200px;
}

.bottom-container {
  background-color: blue;
  height: 200px;
  width: 200px;
}

.red {
  height: 200px;
  width: 200px;
  background-color: red;
  position: absolute;
  top: 400px;
  left: 400px;
}

.blue {
  height: 200px;
  width: 200px;
  background-color: blue;
  position: absolute;
  top: 200px;
  left: 200px;
}

.yellow {
  height: 200px;
  width: 200px;
  background-color: yellow;
}


.top-cloud {
    position: relative;
    left: 200px;
}
.bottom-cloud {
    position: absolute;
}