body {
    text-align: center;
}

h1 {
    color: khaki;
    font-size: 100px;
}

/* img {
    background-color: khaki;
} */

.shawarma {
    background-color: khaki;
}

.burrito {
    background-color: bisque;
}