body {
    text-align: center;
}

h1 {
    color: khaki;
    font-size: 100px;
}

img:hover {
    background-color: gold;
}

.shawarma {
    background-color: khaki;
}

.burrito {
    background-color: bisque;
}


#heading {
    color: cornsilk;
}