body {
    text-align: center;
    background-color: beige;
}

h1 {
    color: khaki;
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img:hover {
    background-color: bisque;
}

p {
    color: darkgrey;
    font-style: italic;

}

.shawarma, .burrito {
    height: 200px;
}